<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="/static/css/acerca.css">
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="static/img/Ublog.png" >
          </div>

          <div id="menu">
             
              <ul>
                  <li><a href="/"class="enlace">Inicio</a></li>
                  <li><a href="/acerca_de"class="active-menu">Acerca de...</a></li>
                  <li><a href="/mision-mision"class="enlace">Misión-Visión</a></li>
                  <li><a href="/contacto"class="enlace">Contáctenos</a></li>
                  <li><a href="/creador"class="enlace">Desarrollo</a></li>
                  
              </ul>
          </div>
      </div>


      
      <div class="login-box">
        <img src="/static/img/Ublog (1).png" class="avatar" alt="Avatar Image">
        <h1>Acerca de nosotros</h1>
        
          <p>En Ublog, estamos constantemente iterando, resolviendo problemas y trabajando juntos para conectar a personas de todo el mundo. 
            Por eso es importante que nuestra fuerza laboral refleje la diversidad de las personas a las que servimos. 
            Contratar personas con diferentes antecedentes y puntos de vista nos ayuda a tomar mejores decisiones, crear mejores productos y 
            crear mejores experiencias para todos. 


         
         
          
          
      </div>
  

  </header>

  </body>
</html>




 