<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="/static/css/contacto.css">
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="static/img/Ublog.png" >
          </div>

          <div id="menu">
             
              <ul>
                  <li><a href="/"class="enlace">Inicio</a></li>
                  <li><a href="/acerca_de"class="enlace">Acerca de...</a></li>
                  <li><a href="/mision-mision"class="enlace">Misión-Visión</a></li>
                  <li><a href="/contacto"class="active-menu">Contáctenos</a></li>
                  <li><a href="/creador"class="enlace">Desarrollo</a></li>
                  
              </ul>
          </div>
      </div>


      
      <div class="login-box">
        <img src="/static/img/Ublog (1).png" class="avatar" alt="Avatar Image">
        

            <p>
                <h2>Números de teléfono</h2>
                <p>
                Tel: 40153472   Tel: 34343434
                </p>
                <p>
                    
                    </p>
            </p>

            <p>
                <h2>Correo</h2>
                <p>
                   Ublog@gmail.com
                </p>
            
                <h2>Direccioón</h2>
                <p>
                  Km 36 carretera Interamerica, San Salvador, El Salvador
                </p>
         
          
          
      </div>
  

  </header>

  </body>
</html>
