<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="/static/css/creador.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="static/img/Ublog.png" >
          </div>

          <div id="menu">
             
              <ul>
                  <li><a href="/"class="enlace">Inicio</a></li>
                  <li><a href="/acerca_de"class="enlace">Acerca de...</a></li>
                  <li><a href="/mision-mision"class="enlace">Misión-Visión</a></li>
                  <li><a href="/contacto"class="enlace">Contáctenos</a></li>
                  <li><a href="/creador"class="active-menu">Desarrollo</a></li>
                  
              </ul>
          </div>
      </div>
     

      <div class="resume">
        <div class="resume_left">
          <div class="resume_profile">
            <img src="/static/img/perfil.jpg" alt="profile_pic">
          </div>
          <div class="resume_content">
            <div class="resume_item resume_info">
              <div class="title">
                <p class="bold">Javier Girón</p>
                <p class="regular">Developer</p>
              </div>
              <ul>
                <li>
                  <div class="icon">
                    <i class="fas fa-map-signs"></i>
                  </div>
                  <div class="data">
                   Residencial Arcos de Santa Maria ll<br /> Guatemala
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                  </div>
                  <div class="data">
                    +502 47193133
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <div class="data">
                    javiergdcontactgt@gmail.com
                  </div>
                </li>
               
              </ul>
            </div>
            <div class="resume_item resume_skills">
              <div class="title">
                <p class="bold">Habilidades</p>
              </div>
              <ul>
                <li>
                  <div class="skill_name">
                    JAVA
                  </div>
                  <div class="skill_progress">
                    <span style="width: 70%;"></span>
                  </div>
                  <div class="skill_per">70%</div>
                </li>
                <li>
                  <div class="skill_name">
                    Fusion 360
                  </div>
                  <div class="skill_progress">
                    <span style="width: 60%;"></span>
                  </div>
                  <div class="skill_per">60%</div>
                </li>
                <li>
                  <div class="skill_name">
                    Python
                  </div>
                  <div class="skill_progress">
                    <span style="width: 40%;"></span>
                  </div>
                  <div class="skill_per">40%</div>
                </li>
                <li>
                  <div class="skill_name">
                    Paquete de Office
                  </div>
                  <div class="skill_progress">
                    <span style="width: 80%;"></span>
                  </div>
                  <div class="skill_per">80%</div>
                </li>
                
              </ul>
            </div>
            <div class="resume_item resume_social">
              <div class="title">
                <p class="bold">Social</p>
              </div>
              <ul>
                <li>
                  <div class="icon">
                    <i class="fab fa-facebook-square"></i>
                  </div>
                  <div class="data">
                    <p class="semi-bold">Facebook</p>
                    <p>Javier@facebook</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fab fa-twitter-square"></i>
                  </div>
                  <div class="data">
                    <p class="semi-bold">Twitter</p>
                    <p>Javier@twitter</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fab fa-youtube"></i>
                  </div>
                  <div class="data">
                    <p class="semi-bold">Youtube</p>
                    <p>Javier@youtube</p>
                  </div>
                </li>
                <li>
                  <div class="icon">
                    <i class="fab fa-linkedin"></i>
                  </div>
                  <div class="data">
                    <p class="semi-bold">Linkedin</p>
                    <p>Javier@linkedin</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
       </div>
       <div class="resume_right">
         <div class="resume_item resume_about">
             <div class="title">
                <p class="bold">Sobre mi</p>
              </div>
             <p>Soy una persona emprendedora, me gusta ver los problemas no como adversidad sino como oportunidades de aprendizaje.</p>
         </div>
         <div class="resume_item resume_work">
             <div class="title">
                <p class="bold">Experiencias de trabajo</p>
              </div>
             <ul>
                 <li>
                     <div class="date">2021 - actualidad</div> 
                     <div class="info">
                          <p class="semi-bold">Diseño y animación de objetos en 2D y 3D</p> 
                       <p>Actualmente soy parte de la EFI que es una subdivisión de la institución INTECAP</p>
                     </div>
                 </li>
                 <li>
                   <div class="date">2019 - 2021</div>
                   <div class="info">
                          <p class="semi-bold">Técnico</p> 
                       <p>En busca de una oportunidad laboral cree mi propia 
                        empresa que prestaba el servicio de soporte Técnico 
                        tanto en hardware como software</p>
                     </div>
                 </li>
                 <li>
                   <div class="date">2020 - 2021</div>
                   <div class="info">
                          <p class="semi-bold">Desarrollador Web y Programador</p> 
                       <p>Abriendome camino con mis conocimientos cree mi 
                        propio estudio para ofrecer el desarrollo de tanto 
                        páginas web como sistemas de ventas programados 
                        en el lenguaje Java</p>
                     </div>
                 </li>
             </ul>
         </div>
         <div class="resume_item resume_education">
           <div class="title">
                <p class="bold">Educación</p>
              </div>
           <ul>
                 <li>
                     <div class="date">2020 - Actualidad</div> 
                     <div class="info">
                          <p class="semi-bold">Cuarto Semestre de Ingenieria en Ciencias y Sistemas</p> 
                       <p>En la Universidad San Carlos de Guatemala estudio la Carrera de Ingenieria en Ciencias y Sistemas</p>
                     </div>
                 </li>
                 <li>
                   <div class="date">2017 - 2018</div>
                   <div class="info">
                          <p class="semi-bold">Bachillerato en Computación con Orientacion 
                            en Educación</p> 
                       <p>Bachillerato en Computación con Orientacion 
                        en Educación</p>
                     </div>
                 </li>
             </ul>
         </div>
         <div class="resume_item resume_hobby">
           <div class="title">
                <p class="bold">Hobby</p>
              </div>
            <ul>
              <li><i class="fas fa-book"></i></li>
              <li><i class="fas fa-gamepad"></i></li>
              <li><i class="fas fa-music"></i></li>
              <li><i class="fab fa-pagelines"></i></li>
           </ul>
         </div>
       </div>
     </div>
  

  </header>

  </body>
</html>


