<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="/static/css/mision.css">
  </head>
  <body>

    <header class="header">
       
      <div id="encabezado">
          
          <div id="logo">
              <img  class="imagen"src="static/img/Ublog.png" >
          </div>

          <div id="menu">
             
              <ul>
                  <li><a href="/"class="enlace">Inicio</a></li>
                  <li><a href="/acerca_de"class="enlace">Acerca de...</a></li>
                  <li><a href="/mision-mision"class="active-menu">Misión-Visión</a></li>
                  <li><a href="/contacto"class="enlace">Contáctenos</a></li>
                  <li><a href="/creador"class="enlace">Desarrollo</a></li>
                  
              </ul>
          </div>
      </div>


      
      <div class="login-box">
        <img src="/static/img/Ublog (1).png" class="avatar" alt="Avatar Image">
        

            <p>
                <h2>Misión</h2>
                <p>
                Ser una empresa líder en el mercado de la información, con una visión de crecimiento y crecimiento sostenido, 
                con una cultura de trabajo en equipo y con una cultura de desarrollo de personas.
                </p>
            </p>

            <p>
                <h2>Visión</h2>
                <p>
                    Brinde a las personas el poder de construir una comunidad y acercar el mundo.
                </p>
            
         
         
          
          
      </div>
  

  </header>

  </body>
</html>


