<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/registro.css">
  <title>Formulario Registro</title>
</head>
<body>
   


    <form action="/inicio1" method="post">
        <section class="form-register">
            <h4>Formulario Registro</h4>
            <input class="controls" type="text" name="user" id="user" placeholder="Ingrese su Usuario deseado">
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="text" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="text" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
            <input class="controls" type="text" name="gen" id="gen" placeholder="Ingrese su genero M/F">
            <input class="botons" type="submit" value="Registrar" >
            <p><a href="/">¿Ya tienes Cuenta?</a></p>
        </section>
    </form>
</body>
</html>
